@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@500&display=swap');                                                                                                                                                                                    
*{
    margin: 0;
    padding: 0;
}
 .titulo_destaque {
    color: #22D4fd;
} 
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
}
 .apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 20%;
} 
.apresentacao_conteudo_titulo {
    font-size: 35px;
    font-family: 'Krona One', sans-serif;
}
 .apresentacao_conteudo_texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
} 
.apresentacao_links {
    display: flex;
    justify-content: space-between;
} 
.apresentacao_links_link {
    background-color: #22D4fd;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    padding: 21.5px 0;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
 .apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px; 
}
 img {
    display: flex;
    width: 460px;
    height: 400px;
 }